@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    background-color: #eceaea;
    color: #333;
}
header{
    padding: 20px 15px;
    text-align: center;
    background-color: #5454f7;
    background-image: linear-gradient(to bottom, #5454f7, #9999f4);
    color: white;
}
header > h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    margin-bottom: 5px;
}
header > p{
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 1.1em;
}
main{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 800px;
    background-color: #ece9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.257);
}
main h2{
    text-align: center;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    color: #9a9adf;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}
article{
    padding: 10px 15px;
    background-color: #f1f0f0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.236);
}
article > h3{
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #4b54ff;
}
article > blockquote{
    font-style: italic;
    border: 4px solid #57c4ce;
    background-color: #4b54ff;
    color: white;
    padding: 20px;
    font-family: "Lora", serif;
    font-size: 1.1em;
}
article > img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}
#gabriel{
    margin-top: 15px;
    text-align: center;
}
footer::before{
    content: "©";
}